.App {
  padding: 30px;
  display: flex;
}

.App>div {
  margin-right: 50px;
}

.delete {
  font-size: 7px;
  /* height: 15px; */
  border-radius: 20%;
  margin-left: 8px;

}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.3;
}